#logo-login{
    width: 350px;
    margin: 0px auto 0px auto;
}
#logo-login-header{
    width: 200px;
    margin: 0px auto 0px auto;
}
#logo-login-aquicob{
    display: block;
    width: 100px;
    margin: auto;
}
body{
    margin: 0px;
    padding: 0px;
}
/*header*/
.cabecalho {
    position: fixed;
    top:0px;
    margin: 0px;
    background-color: #333333;
    padding: 15px 10px;
    width: 100%;
    height: 80px;
    z-index: 4;
}
/*vertical header*/
.verticalMenu {
    position: fixed;
    top:80px;
    background-color: #00c0f9;
    width: 50px;
    height: 100%;
    box-shadow: 1px 1px 1px rgba(1, 1, 1, .02);
}
.itensVerticalGroup {
    position: relative;
    margin: auto;   
    text-align: center;
}
#botaoEstender{
    padding-top: 20px;
    margin: 0px;
}
.itemVerticalMenu{
    width: 50px;
    height: 50px;
}
.fas {
    color: #f4f4f4;
}
.itemHide {
    position: absolute;
    margin-left: 40px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    opacity: 0;
}
.itensVerticalGroup:hover {
    opacity: 1;
}
/*sections-principais*/
#blocoBody{
    position: relative;
    top: 95px;
    left: 25px;
    max-width: 94%;
    margin: 15px auto 15px auto;
}
.bloco-geral{
    display: grid;
    grid-template-columns: 1fr 20fr;
}
.sub-bloco{
    margin-left: 15px;
}
.p-card-span{
    font-size: 9pt;
}
.relogio{
    outline: none;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24pt;
}
.ponto-dia-corrente{
    max-height: 700px; 
}
.bloco-titulo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid #dddddd;
    align-items: center;
    padding: 2px;
    margin-top: 10px;
}
a{
    text-decoration: none;
    color: inherit;
}
.icon-left{
    display: block;
    padding: 25px 15px 15px 15px;
    text-align: center;

}
.fa-2x{
    color: #585858;
}

.white-section{
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #dddddd;
    box-shadow: 2px 2px 7px rgba(1, 1, 1, .03);
    margin: 15px auto 15px auto;
    position: relative;
}
.white-section-card{
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #dddddd;
    box-shadow: 2px 2px 7px rgba(1, 1, 1, .03);
    max-width: 98%;
    margin: 10px auto 10px auto;
}
.white-section-toggle{       
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.cards-gerais {
    padding: 15px;
}

.setinha-toggle{
    text-align: right;
    right: 0px;
    margin: 0px;
    padding: 0px;
}
.right-nav {
    position: relative;
    color: #fff;
    margin-top: 7px;
    text-align: right;
}
/*config textos*/
.titulo-card {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 700;
    color: #212529;
    padding: 5px;
    margin-left: 10px;
}
.p-card{
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;
    font-weight: lighter;
}
.p-card-bold{
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;
    font-weight: bold;
}
.sub-titulo-card {
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    color: #212529;
    padding: 14px 14px 0px 0px;
}
/*forms*/
.botoes-center{
    display: grid;
    grid-template-columns: 7fr 1fr 1fr;
    position: relative;
    margin: auto;
}
.botoes-center-4-itens{
    display: grid;
    grid-template-columns: 3.5fr 3.5fr 1fr 1fr;
    position: relative;
    margin: auto;
}
.form-control {
    position: relative;
    margin: auto;
    max-width: 98%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.form-control-100 {
    position: relative;
    margin: auto;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.form-group{
    margin: 0px 5px;
}
.corpo-descricao{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


/*botoes*/
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}
.btn-action {
    background:#00c0f9;
    color: #fff;
    transition: var(--smooth);
    margin-left: 20px;
}
.get-out{
    background-color: rgb(251, 47, 47);
}
.btn-outline-primary {
    /*color: #1a3b64;
    border-color: #1a3b64; bordas para a logo nova. provisoriamente, use a de baixo*/
    color: #0A71B2;
    border-color: #0A71B2;
    margin-left: 20px;
}
/*****************COMPONENT DE PONTO ATUAL***************************/
ul.timeline {
    list-style-type: none;
    position: relative;
    max-width: 600px;
}
ul.timeline-red {
    list-style-type: none;
    position: relative;
    max-width: 600px;
}
ul.timeline-blue {
    list-style-type: none;
    position: relative;
    max-width: 600px;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
}

ul.timeline-red:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
}
ul.timeline-blue:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}

ul.timeline-blue > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline-red > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: rgb(251, 47, 47);
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid rgb(251, 47, 47);
    left: 20px;
    width: 20px;
    height: 20px;
}
ul.timeline-red > li:before {
    content: ' ';
    background: rgb(251, 47, 47);
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid rgb(251, 47, 47);
    left: 20px;
    width: 20px;
    height: 20px;
}

ul.timeline-blue > li:before {
    content: ' ';
    background: #53a9db;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #53a9db;
    left: 20px;
    width: 20px;
    height: 20px;
}
.icon-play-pause{
    cursor: pointer;
}